button {
    background: #381f1f;
    color: white;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 * {
    font-family: Arial;
    line-height: 5px;
 
 }
 
 .delivery {
    font-weight: 700px;
 
 }
 
 .wrapper {
   width: 1500px;
   display: flex;
   flex-wrap: wrap;
    
 }